.container{
    // total size 1440px - 260px (side gaps) - 40px (padding gap)
    max-width: 1212px;
    margin: 0 auto;
    padding: 0px 20px;
}

.container--lg{
    max-width: 1216px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 80px;
    padding-right: 80px;


    @include breakpoint('tablet-below'){
        max-width: 90%;
        padding-left: 40px;
        padding-right: 40px;
    }
}

.container--edge{
    max-width: 1920px;
    margin: 0 auto;
}