body {
    font-family: $font;
    font-size: 100%;
}

h1, h2, h3, .heading {
    font-weight: 700;
}

a, a:visited, a:active{
    text-decoration: none;
}

.fw-300{ font-weight: 300;}
.fw-500{ font-weight: 500; }