.img-fluid{
    max-width: 100%;
    height: auto;
}

.mobile-hide{
    @include breakpoint('tablet-below'){
        display: none !important;
    }
}
.desktop-hide{
    @include breakpoint('tablet-above'){
        display: none !important;
    }
}

.link{
    color: inherit;
    cursor: pointer;
    transition: all 0.3s ease-in-out 0s;

    &:hover{
        color: $primary-blue;
    }
}

.border-bottom{
    border-bottom: 1px solid $gray-deep;
}

.clear-fix::after{
    content: '';
    clear: both;
    display: table;
}


// margin auto
.mr-auto{ margin-right: auto;}
.ml-auto{ margin-left: auto;}
.m-auto{ margin-left: auto; margin-right: auto;}

// text-align 
.ta-l{text-align: left;}
.ta-c{text-align: center;}
.ta-r{text-align: right;}

// vertical align
.va-top{vertical-align: top;}
.va-middle{vertical-align: middle;}

.fs-reset{font-size: 0;}

.wd-fc{width: fit-content;}

// padding

// .pt-25{ padding-top: 100px;}
// .pt-30{ padding-top: 120px;}
// .pt-50{ padding-top: 200px;}
// .pb-50{ padding-bottom: 200px;}


// Uppercase letters

.tt-uppercase{text-transform: uppercase;}

// line heigh
.lh-1{line-height: 1;}


// border-radius
.br-4{border-radius: 4px;}
.br-6{border-radius: 6px;}

// display

.d-block{display: block;}
.d-iblock{display: inline-block;}

.d-flex{display: flex;}
.flex-wrap{flex-wrap: wrap;}

.flex-direction-col{flex-direction: column;}
.jc-center{justify-content: center;}
.jc-space-between{justify-content: space-between;}

.ai-start{align-items: flex-start;}
.ai-center{align-items: center;}
.jc-phone-center{
    @include breakpoint(phone-below){
        justify-content: center;
    }
}

.h-200{height: 200px;}

.gap-30{gap:30px;}