// colors
$primary-blue:#2a41e8;
$orange: #ff5e14;
$white: #ffffff;
$gray-one: #ececec;
$gray-two: #fafafa;
$gray-three: #f3f3f3;
$gray-four: #ececec;
$gray-deep: #999999;
$black: #000000;
$black-one: #292929;
$black-two: #151515;
$yellow: #ffc107;
$light-purple: #eaedfd;

$color-list: (
    'primary-blue':$primary-blue,
    'orange':$orange,
    'white':$white,
    'gray-one':$gray-one,
    'gray-two':$gray-two,
    'gray-three':$gray-three,
    'gray-four':$gray-four,
    'gray-deep':$gray-deep,
    'black':$black,
    'black-one':$black-one,
    'black-two':$black-two,
    'yellow':$yellow,
    'light-purple':$light-purple,
);

$font-list: (
    '12':12px,
    '14':14px,
    '16':16px,
    '18':18px,
    '20':20px,
    '32':32px,
    '36':36px,
    '48':48px,
    '56':56px,
    '60':60px,

);

// fonts
$font:'Rubik', sans-serif;

// TODO: Font-sizes
// done: font-color
// done: background color
// done: margin and padding multiple
// TODO: Flex helper classes
