.carousel{
    display: flex;
    overflow-x: scroll;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 30px;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    scroll-behavior: smooth;
    // flex-shrink: 0;
    &::-webkit-scrollbar {
        display: none;
    }

    &__start{
        scroll-snap-align: start;
        @include breakpoint(tablet-below){
            scroll-snap-align: none;
        }
    }
}

.carousel__page{
    a{
        // padding: 4px 14px;
        display: inline-block;
        @include dimension(10px, 10px);
        border: 1px solid black;
        background-color: black;
        border-radius: 100%;
    }
}