%icon-center{
    width: 34px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    // flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 370px;
    // max-width: 370px;
    // width: 370px;
    // min-height: 500px;
    background-color: white;

    @include breakpoint(phone-below){
        max-width: 100%;
    }

    &__image{
        width: 100%;
        max-width: 370px;
        position: relative;

        @include breakpoint(phone-below){
            max-width: 90%;
        }


        .card__topleft{
            position: absolute;
            top:10px;
            left: 10px;
        }

        .card__toplefttwo{
            position: absolute;
            top:10px;
            left: 70px;
        }

        .card__topright{
            position: absolute;
            top:10px;
            right: 10px;
            @extend %icon-center;
        }

        .card__bottomleft{
            position: absolute;
            bottom:10px;
            left: 10px;
        }

        .card__bottomrighttwo{
            position: absolute;
            bottom:10px;
            right: 50px;
            @extend %icon-center;
        }

        .card__bottomright{
            position: absolute;
            bottom:10px;
            right: 10px;
            @extend %icon-center;
        }
    }

    .card__author{
        display: flex;
        width: 100%;
        justify-content:space-between;
        align-items: center;
    }

    .card--border-top{
        border-top: solid 1px #f4f4f4;
    }

    .card__btn-group{
        .btn{
            display: inline-block;
            border: solid 1px $gray-three;
            border-radius: 4px;
            margin-left: -4px;
            padding: 20px;
        }
        .btn:not(:last-child){
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    
        .btn:not(:first-child){
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }

}